body {
  font-family: "Open Sans", sans-serif;
  color: rgb(106, 133, 156);
  font-size: 18px;
  line-height: 20px;
  padding-top: 40px;
  margin: 0;
}

li {
  padding-bottom: 15px;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}

.navigation-container {
  top: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.748);
  transition: background-color 0.3s ease;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 15px;
  display: grid;
  width: 98%;
  grid-template-columns: 1fr 1fr;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  top: 40px;
  left: 0;
  text-align: left;
  position: absolute;
  background-color: #054b74;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #03608c;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrow {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.navigation-menu {
  text-align: right;
  padding-top: 5%;
}

.navigation-link {
  font-size: 1.1rem;
  color: rgb(106, 133, 156);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
}

.navigation-link:hover {
  color: rgb(46, 157, 255);
}

.osool-logo img {
  width: 15%;
  padding-left: 10px;
}

.center-section {
  box-sizing: border-box;
  margin-top: 7%;
  padding-top: 305px;
  padding-bottom: 250px;
  border-bottom: 1px solid rgb(105, 185, 255);
  background-image: linear-gradient(rgba(46, 157, 255, 0.5), rgba(46, 157, 255, 0.22)), url("../assets/background.jpg");
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  background-repeat: no-repeat;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-heading {
  margin-bottom: 30px;
  color: white;
  font-size: 80px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.learn-more-button {
  display: inline-block;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.784);
  border-radius: 4px;
  transition-property: background-color, border, color;
  transition-duration: 300ms, 300ms, 300ms;
  transition-timing-function: ease, ease, ease;
  color: rgba(255, 255, 255, 0.784);
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.learn-more-button:hover {
  border-color: rgb(46, 157, 255);
  color: rgb(46, 157, 255);
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    /* Start position (below the screen) */
    opacity: 0;
    /* Start invisible */
  }

  100% {
    transform: translateY(0);
    /* End position (original position) */
    opacity: 1;
    /* Fully visible */
  }
}

@keyframes slideInFromUp {
  0% {
    transform: translateY(-100%);
    /* Start position (below the screen) */
    opacity: 0;
    /* Start invisible */
  }

  100% {
    transform: translateY(0);
    /* End position (original position) */
    opacity: 1;
    /* Fully visible */
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
    /* Start position (below the screen) */
    opacity: 0;
    /* Start invisible */
  }

  100% {
    transform: translateX(0);
    /* End position (original position) */
    opacity: 1;
    /* Fully visible */
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    /* Start invisible */
  }

  100% {
    transform: translateX(0);
    /* End position (original position) */
    opacity: 1;
    /* Fully visible */
  }
}
/* Base state */
.slide-in-bottom,
.slide-in-left,
.slide-in-right,
.slide-in-up {
  opacity: 0;
  /* Keep elements hidden before the animation starts */
}

/* Apply the animation to the element */
.animate-from-bottom {
  animation: slideInFromBottom 1.2s ease-out;
  /* 1s duration and ease-out timing */
}

.animate-from-up {
  animation: slideInFromUp 1.2s ease-out;
  /* 1s duration and ease-out timing */
}

.animate-from-left {
  animation: slideInFromLeft 1.2s ease-out;
  /* 1s duration and ease-out timing */
}


.animate-from-right {
  animation: slideInFromRight 1.2s ease-out;
  /* 1s duration and ease-out timing */
}

.section-heading,
.projects-heading {
  margin-top: 50px;
  color: rgb(103, 103, 112);
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.what-we-do-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  margin: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.white-box {
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(220, 235, 247);
  border-radius: 5px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-image {
  display: block;
  width: 30%;
  margin: 10px auto;
  padding: 20px;
}

.card-description {
  padding: 15px;
}

.projects-background {
  background: linear-gradient(135deg, rgb(5, 75, 116), rgb(2, 45, 70));
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.projects-heading {
  color: rgb(185, 188, 192);
  font-weight: 650;
  margin-top: 40px;
}

.projects-container {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 20px;
  justify-content: space-between;
  column-gap: 20px;
  padding: 20px;
}

.project-column {
  display: flex;
  align-items: center;
}

.project-column img {
  max-width: 100%;
  height: auto;
  padding-right: 20px;
}

.project-title {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

.project-description {
  color: rgb(185, 188, 192);
  font-size: 1.1rem;
  line-height: 29px;
}

.discover-project-button {
  font-size: 1.4rem;
  font-weight: 450;
  padding: 5px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.748);
  border-radius: 5px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.808);
  background-color: transparent;
  display: block;
  margin: auto;
  transition-property: background-color, border, color;
  transition-duration: 300ms, 300ms, 300ms;
  transition-timing-function: ease, ease, ease;
}

.discover-project-button:hover {
  color: rgb(46, 157, 255);
  border-color: rgb(46, 157, 255);
}

.customers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.customers-header {
  font-weight: bold;
  text-align: right;
  color: rgb(18, 51, 78);
  font-size: 3.8rem;
  line-height: 3.8rem;
  margin: 2%;
  padding: 20px;
}

.customers-text {
  color: rgb(18, 51, 78);
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: right;
  margin: 20px;
}

.customers-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto auto;
}

.custmoers-logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.logo-image {
  width: 60%;
}

.footer-container {
  background-color: rgb(237, 239, 242);
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 5px;
  padding-bottom: 35px;
  display: grid;
  color: rgb(18, 51, 78);
}

.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  margin-bottom: 15px;
}

.footer-osool {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(213, 213, 224);
  color: rgb(102, 140, 173);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}